body {
	background-color: black;
	max-width: 1100px;
	min-width: 350px;
	font-family: helvetica;
	color: white;
}

h1, h2, h4, th { 
	color: #34B0EC;	
 }


a:link {
	color: #FB8C33;
}

a:hover {
	color: red;
}

a:visited {
	color: #1E3C8C;
}


#logo {
	width: 20%;
	height: 20%;
	margin-left: 41%;
	padding-bottom: 20px;
}



#navigation-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #4F4F4F;
    display: inline-block;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: white;
}

#navigation-bar li {
    float: left;
}

#navigation-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    
}

.reviews  {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	padding: 12px;
	margin-left: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #31B1E8;
	border-top-width: 5px;
	border-bottom-width: 5px;
}

.reviews h4 {
	text-align: center;
	font-size: 22px;
	margin-top: 5px;
}

.reviews p {
	text-indent: 15px;
	padding-bottom: 5px;
}

#welcome {
	position: relative;
	display: inline-block;
	width: 75%;
	vertical-align: top;
}

#welcome img {
	position: relative;
	width: 100%;
	display: inline-block;
	z-index: -1;
}

#welcome p {
	position: absolute;
	display: inline-block;
	vertical-align: top;
	width: 35%;
	z-index: 0;
	top: 270px;
	color: #31B1E8;
	font-size: 24px;
	text-shadow: 3px .5px black;
	text-align: center;
	font-family: Lucida Sans;
	padding: 5px;
}

.meet-us th {
	border-bottom-style: solid;
	border-width: 1px;
	border-color: white;
	text-align: center;
	padding: 10px;
	font-size: 24px;
}

.meet-us td {
	border-bottom-style: solid;
	border-width: 1px;
	padding: 10px;
	font-size: 18px;
}

figcaption {
	font-size: 8px;
	text-align: right;
}

figure {
	margin: 0px;
	padding: 0px;
}

.contact-form {
	width: 65%;
}

.contact-form div {
	margin: 5px;
	padding: 5px;
}

.contact-form input {
	width: 60%;
}

.contact-form textarea {
	width: 70%;
}


@media screen and (max-width: 850px) {
	#welcome {
		position: relative;
		display: block;
		width: 100%;
		z-index: 0;
	}

	#welcome p {
		display: block;
		margin-left: 45%;
		width: 60%;
	}

	.reviews section {
		position: relative;
		display: inline-block;
		width: 50%;
		margin-left: 40%;
	}
}
