body {
	background-color: black;
	max-width: 1000px;
	font-family: helvetica;
	color: white;
}

h1 { 
	color: #34B0EC;	
	display: inline-block;
	vertical-align: top;

 }

p {

}



#logo {
	width: 20%;
	height: 20%;
	margin-left: 40%

}



#navigation-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #4F4F4F;
    display: inline-block;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: white;
}

#navigation-bar li {
    float: left;
}

#navigation-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    
}

.reviews  {
	display: inline-block;
	width: 20%;
	vertical-align: top;

}

.reviews p {

}

#welcome {
	display: inline-block;
	width: 70%;
	vertical-align: top;
}

#welcome img {
	position: relative;
	width: 100%;
	display: inline-block;
	z-index: -1;
}

#welcome p {
	position: absolute;
	width:30%;
	z-index: 0;
	top: 400px;
	color: #34B0EC;
	font-size: 30px;
	text-shadow: 1px white;
}

