body {
	background-color: black;
	max-width: 1000px;
	font-family: helvetica;
	color: white;
}

h1 { 
	color: #34B0EC;	
	display: inline-block;
	vertical-align: top;

 }

p {
	color: white;
}



#logo {
	width: 20%;
	height: 20%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4F4F4F;
    display: inline-block;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}